<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="]image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Відео</title>
</head>

<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-centre text-white">Відео про книгу</h1>
                <div class="itd_play" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="itd_triangle">
                    </div>
                </div>
                <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Замовити</a>
            </div>
        </div>
    </div>
</header>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Про книгу</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-list-numbered"></i></div>
                <h5 class="text-center">Структурований матеріал</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-rouble"></i></div>
                <h5 class="text-center">Символічна ціна</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-youtube-play"></i></div>
                <h5 class="text-center">Актуальність матеріалу</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-paper-plane"></i></div>
                <h5 class="text-center">Практичні уроки та завдання</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-file-video"></i></div>
                <h5 class="text-center">Багато учбових задач</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-phone"></i></div>
                <h5 class="text-center">Можливість читати on-line</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-github-circled"></i></div>
                <h5 class="text-center">Додаткові корисні матеріали</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-instagram"></i></div>
                <h5 class="text-center">Відсутність складних прикладів</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-twitter"></i></div>
                <h5 class="text-center">Посилання на додакові матеріали в соціальних мережах</h5>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>

<section class="forwhom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Ця книга для тих хто</h2>
            </div>
        </div>

        <div class="row-mb-5">
            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Бажає навчитись створювати сайт власними силами</h5>
            </div>
            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Навчається новим технологіям розробки</h5>
            </div>
            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Не знає мову HTML & CSS але бажає вивчити</h5>
            </div>
            <div class="col-md-6 col-sm-12">
                <h5 class="text-center">Бажає заробляти багато коштів</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="#footer" class="btn btn-lg text-uppercase btn-itd">Замовити</a>
            </div>
        </div>
    </div>
</section>

<section class="shedule">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-3">Наповнення книги</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center fw-bold mb-3 mt-3">Розділ 1<br>(HTML)</h4>
                <div class="accordion accordion-flush" id="accordion1">

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse1" aria-expanded="false"
                              aria-controls=collapse1">
                        Введення
                      </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic"> Швидкий огляд того що ми будем вивчати в даному уроці</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Встановлення браузера та редактор коду
                      </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">В цьому уроці ми встановимо браузер Google Chrome та редактор коду VS Code.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Огляд функцій редактору
                      </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Розглянемо функції редактора VS Code та дізнаємось як з ним працювати.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Перші HTML теги
                      </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Вивчемо свої перші HTML теги, за допомогою яких створюються сайти.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Як задавати шлях до файлів
                      </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось правильно вказувати путь до файлів з зображенням та інших розділів сайту.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Створення переліку
                      </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось створювати переліки на своєму сайті. </div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Створення таблиць
                      </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось створювати таблиці на сайті.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        Робота з текстом
                      </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось працювати з текстом.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading9">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        Створення форм
                      </button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось створювати форми для вводу тексту.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading10">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        Універсальні атрибути
                      </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Розглянемо універсальні атрибути які можна додавати будь якому HTML тегу.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading11">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        Колір RGB та інші спецсимволи
                      </button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                         data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">Навчимось працювати з RGB кольором та додавати спеціальні символи на свій сайт.</div>
                    </div>
                  </div>
                    </div>
                  </div>

            <div class="col-md-4">
                <h4 class="text-center fw-bold mb-3 mt-3">Розділ 2<br>(CSS)</h4>
                <div class="accordion accordion-flush" id="accordion2">

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading12">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse12" aria-expanded="false"
                              aria-controls=collapse12">
                        CSS селектори
                      </button>
                    </h2>
                    <div id="collapse12" class="accordion-collapse collapse show" aria-labelledby="heading12"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic"> Розглянемо основні CSS селектори, дізнаємось що це таке та навіщо потрібно.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading13">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                        Роботи з зображенням
                      </button>
                    </h2>
                    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Навчимось працювати з зображенням на мові CSS.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading14">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                        Межі
                      </button>
                    </h2>
                    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Навчимось створювати межі навколо будь-якого елементу сайту та стилізувати.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                        Розмір елементів
                      </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Розберемось, как змінувати розмір элементів за допомогою CSS.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading16">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                        Роботи з шрифтом
                      </button>
                    </h2>
                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Навчимось працювати з шрифтами. Встановимо свій шрифт на сайті.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading17">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                        Блочна модель документу
                      </button>
                    </h2>
                    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Створемо поблокову модель документа та навчимось користуватись цією моделлю. </div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading18">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                        Псевдокласи та псевдоелементи
                      </button>
                    </h2>
                    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Псевдокласси и псевдоэлементы на мові CSS дозволяють розширити основні можливості язика.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading19">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                        CSS Flexbox
                      </button>
                    </h2>
                    <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">В цьому уроці вивчемо базові можливості Flexbox.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading20">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                        Адаптивна версія сайту
                      </button>
                    </h2>
                    <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Створемо адаптивну сітку CSS.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading21">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                        Домашні завдання
                      </button>
                    </h2>
                    <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21"
                         data-bs-parent="#accordion2">
                      <div class="accordion-body fst-italic">Будемо виконувати домашні завдання</div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <h4 class="text-center fw-bold mb-3 mt-3">Модуль 3<br>(ІНШЕ)</h4>
                <div class="accordion accordion-flush" id="accordion3">

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading22">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse22" aria-expanded="false"
                              aria-controls=collapse22">
                        Верстка меню сайту
                      </button>
                    </h2>
                    <div id="collapse22" class="accordion-collapse collapse show" aria-labelledby="heading22"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic"> Здвійснемо верстку меню сайту.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading23">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                        Домашне завадання
                      </button>
                    </h2>
                    <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Виконаємо домашне завдання</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading24">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                        Побудова фрагментів сайту
                      </button>
                    </h2>
                    <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Навчимось будувати фрагменти сайту.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading25">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                        Домашне завадання
                      </button>
                    </h2>
                    <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Виконаємо ще одне домашне завадання.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading26">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                        Photoshop
                      </button>
                    </h2>
                    <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="heading26"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Заберемось як працювати в Photoshop.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading27">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                        Верстка частин сайту
                      </button>
                    </h2>
                    <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="heading27"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Здійснемо верстку сайту. </div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading28">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
                        Фінальний проект
                      </button>
                    </h2>
                    <div id="collapse28" class="accordion-collapse collapse" aria-labelledby="heading28"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Створемо повноцінний сайт.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading29">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
                        Бонуси
                      </button>
                    </h2>
                    <div id="collapse29" class="accordion-collapse collapse" aria-labelledby="heading29"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Отримаєте бонуси.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading30">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
                        Практичне заняття 1
                      </button>
                    </h2>
                    <div id="collapse30" class="accordion-collapse collapse" aria-labelledby="heading30"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Проведемо практичне заняття 1.</div>
                    </div>
                  </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="heading31">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
                       Практичне заняття 2
                      </button>
                    </h2>
                    <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="heading31"
                         data-bs-parent="#accordion3">
                      <div class="accordion-body fst-italic">Проведемо практичне заняття 1.</div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class = "learning">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h2 class="text-center text-uppercase color2 mb-5">Етапи читання</h2>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-9 col-sm-12">
                <h5> Етап 1. Фрактальне читання. Сучасне суспільство переповнено джерелами інформації та безкоштовними
                    знаннями. Метадані, згенеровані книгами, часто такі ж цінні, як і сама книга. Тобто інтерв'ю з
                    авторами, авторські презентації, резюме книг, огляди, цитати, перші та останні розділи можуть
                    стати якісним провідником у світ корисної інформації.</h5>
                <h5> Етап 2. Інтелектуальне читання. Сприймайте непрочитані книги, як нагадування про те, як мало ви
                    знаєте. Така «інтелектуальна смиренність» є чудовим стимулом для того, щоб читати більше.
                    Те, що ми знаємо, у порівнянні з тим, що людство винайшло колективно, – це лише крапля в океані.
                    І цей океан росте зі швидкістю, яку ми навіть не можемо усвідомити. </h5>
                <h5> Етап 3. Розумне читання. Відмовтеся від хороших книг для того, щоб встигнути прочитати чудові!
                    Дозвольте собі не обіцяти закінчити кожну розпочату книгу, якщо плануєте прочитати кращу.
                    Життя занадто коротке, занадто багато хороших книг!</h5>
                <h5> Етап 4. Журнальне читання. Іноді не завадить читати книги, як журнали! Коли ми беремо журнал,
                    ми не відчуваємо себе винними якщо не читаємо кожну сторінку або просто робимо п'яти хвилинну
                    перерву. Натомість, ми часто намагаємося знайти найцікавіші статті, виокремити найкращі думки. </h5>
            </div>
            <div class="col-lg-3 col-sm-12 mb-sm-5 mt-sm-5 text-center">
            <img src="static/img/book.jpeg" alt="Процес навчання" class="img-fluid">
            </div>
    </div>
        <div class="row">
            <div class="col-12">
                <a href="#footer" class="btn btn-itd btn-lg text-uppercase">Замовити</a>
            </div>
        </div>
    </div>
</section>

<section class='author'>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color-1 mb-5">Про автора</h2>
            </div>
        </div>
        <div class="row">
                <div class="col-xl-9 col-lg-12">
                    <h4>Тара́с Григо́рович Шевче́нко</h4>
                    <p>Тара́с Григо́рович Шевче́нко (відомий також як Кобза́р; 25 лютого (9 березня) 1814,
                        с. Моринці — 26 лютого (10 березня) 1861, м. Санкт-Петербург) — український поет,
                        письменник (драматург, прозаїк), художник (живописець, гравер), громадський та
                        політичний діяч. Національний герой і символ України.
                        Член Кирило-Мефодіївського братства. Академік Імператорської академії мистецтв (1860).</p>
                </div>
                <div class="col-xl-3 col-lg-12 text-center">
                    <img src="static/img/Shevchenko.jpg" alt="Кононенко Костянтин" class="img-fluid itd_img">
                </div>
        </div>
    </div>
</section>

<section class='buy'>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Придбати</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-sm-12 text-center">
                <img src="static/img/book_01.jpeg" alt="html-css" class="img-fluid mx-auto d-block">
                    <script src="https://pay.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
                        <script>
                            var button = $ipsp.get('button');
                            button.setMerchantId( 1396424);
                            button.setAmount('', 'USD');
                            button.setHost('pay.fondy.eu');
                        </script>
                        <button onclick="location.href=button.getUrl()">Сплатити</button>
                <p> Якщо ви все натиснити на кнопку "Сплатити" то ви перейдете на наступну сторінку
                    для заповнення відповідної форми оплати за книгу</p>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="" target="_blank" class="btn btn-outline-light"><i class="icon-youtube-play"></i></a>
                <a href="" target="_blank" class="btn btn-outline-light"><i class="icon-instagram"></i></a>
                <a href="" target="_blank" class="btn btn-outline-light"><i class="icon-twitter"></i></a>
                <a href="" target="_blank" class="btn btn-outline-light"><i class="icon-facebook"></i></a>
                <a href="" target="_blank" class="btn btn-outline-light"><i class="icon-github-circled"></i></a>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Трейлер про книгу</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class='embed-container'><iframe src='' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>

<script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>